.pager li {
  list-style: none;
}

.mention-list ul {
  border-style: solid;
}

.mention-list li {
        display: inline-block;
        list-style: none;
        vertical-align: top;
	text-align: center;
}

.mention-list li img {
	text-align: left;
	border-radius: 20px;
	display: block;
}

.facepile {
   margin-left: 15px;
   align: none;
}

.action {
   clear: none;
}

.like, .favorite, .repost {
   margin-left: 15px;
}

.comment-list li {
       list-style: none;
       padding: 10px;
}

.mention-list li:hover {
  background: #eee;
  padding: 5px;
  cursor: pointer;
}

#webmention-form {
      display: inline;
      font-size: 16px;
}

.respond {
	padding: 5px;

}

.respond li {
   	list-style: none;
}
